beautifulsoup4==4.12.3
lxml==5.2.2
numpy==1.26.4
pandas==2.2.2
playwright==1.46.0
requests==2.32.3
streamlit==1.36.0
jsonlines==4.0.0
SQLAlchemy==2.0.32
python-dateutil==2.9.0.post0
supabase==2.5.1
psycopg[binary,pool]==3.2.1
python-dotenv==1.0.1
